* {
    box-sizing: border-box;
}
.wrap {
    margin: 100px;
    width: 1000px;
    height: 1000px;
    padding: 100px;
}
.main {
    padding: 24px 32px 28px 49px;
}
.loading, .check, .result {
    border: 2px solid #1e1e1e;
    position: relative;
}
.loading {
    width: 350px;
    height: 219px;
    padding: 19px 20px 81px 21px;
}
a.popup-close {
    background: url("../img/gifticon/gifticon-x.png") no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 22px;
}
h2.win {
    font-size: 16.3px;
    color: #e00123;
    letter-spacing: -2.5px;
}
.more-loading {
    margin-top: 57px;
}
p.loading-text {
    font-size: 12px;
    color: #4d4d4d;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
}
progress.loading-bar {
    margin-top: 14px;
    -webkit-appearance: none;
    width: 100%;
    height: 11px;
}
progress.loading-bar::-webkit-progress-bar {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background: #dbdbdb;
}
progress.loading-bar::-webkit-progress-value {
    border: 1px solid #d95f71;
    border-radius: 5px;
    background: #fc7488;
}
.check {
    margin-top: 30px;
    width: 350px;
    height: 258px;
    padding: 19px 20px 30px;
}
p.congratulation {
    margin-top: 32px;
    text-align: center;
}
strong.congratulation-text {
    font-size: 12px;
    color: #4d4d4d;
}
p.your-gifticon {
    margin-top: 9px;
    text-align: center;
    font-size: 12px;
    color: #4d4d4d;
}
strong.gifticon-name {
    font-size: 12px;
    color: #000000;
}
.stamp {
    height: 69px;
    border: 1px solid #ebebeb;
    margin-top: 21px;
    padding: 15px 0 0 75px;
}
p.stamp-number {
    font-size: 11.3px;
    color: #646464;
    letter-spacing: -1px;
}
strong.your-stamp {
    font-size: 12px;
    color: #646464;
}
strong.your-stamp {
    padding-left: 41px;
}
span.red-text {
    font-size: 12px;
    color: #e70002;
}
p.stamp-number:last-child {
    margin-top: 13px;
}
p.stamp-number:last-child strong.your-stamp {
    padding-left: 18px;
}
.gifticon-button {
    margin-top: 15px;
    text-align: center;
}
button.gifticon-close {
    border: 1px solid #e6e6e6;
    background: #ffffff;
    box-shadow: 1px 1px #aaaaaa;
    font-size: 11px;
    letter-spacing: -1px;
    color: #646464;
    width: 55px;
    height: 21px;
}
.check > .gifticon-button > button.gifticon-close:last-child {
    margin-left: 4px;
}
.result {
    width: 350px;
    height: 219px;
    margin-top: 22px;
    padding: 19px 20px 30px;
}
.result-id {
    margin-top: 20px;
    border: 1px solid #ebebeb;
    height: 93px;
    padding-top: 30px;
}
.result-id > p.your-gifticon:first-child {
    margin-top: 0;
}