* {
    box-sizing: border-box;
}
.wrap {
    margin: 100px;
    background: #575757;
    width: 700px;
    height: 650px;
    padding: 120px;
}
.main {
    background: #ffffff;
    min-width: 475px;
    min-height: 307px;
    padding: 6px 5px 15px 11px;
}
h1.h1-left {
    background: url("../img/japanese/h1-left.png") no-repeat left;
    padding-left: 9px;
    display: inline-block;
}
span.h1-right {
    background: url("../img/japanese/h1-right.png") no-repeat right;
    display: inline-block;
    padding-right: 9px;
}
span.h1-center {
    background: url("../img/japanese/h1-center.png") repeat-x;
    display: inline-block;
    min-width: 443px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: -2.5px;
    line-height: 40px;
    padding-left: 5px;
}
span.h1-text {
    padding-left: 21px;
    background: url("../img/japanese/h1-Q.png") no-repeat left;
}
p.consult {
    margin-top: 19px;
    padding-left: 7px;
    font-size: 12px;
    letter-spacing: -1px;
}
.keypad {
    margin: 6px 5px 0 0;
    padding: 10px;
    border: 1px solid #5e779e;
    background: #e6ecf4;
    min-width: 454px;
    min-height: 173px;
}
label.your-choice {
    padding-left: 7px;
    font-size: 12px;
    letter-spacing: -1.5px;
    font-weight: bold;
    display: inline-block;
}
input.show-choice {
    min-width: 361px;
    min-height: 22px;
    border: 1px solid #9bb3d5;
    margin-left: 3px;
}
table.keypad-table {
    margin-top: 8px;
    /*
    border: 1px solid #9bb3d5;
    */
    width: 100%;
    font-size: 14px;
    text-align: center;
}
caption.japanese-keypad {
    border: 0; 
    clip: rect(0, 0, 0, 0); 
    width: 1px;
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
}
table.keypad-table tr td {
    border: 1px solid #e6e6e6;
    background: #ffffff;
    line-height: 24px;
}
table.keypad-table tr:first-child td {
    border-top: 1px solid #9bb3d5;
}
table.keypad-table tr:last-child td {
    border-bottom: 1px solid #9bb3d5;
}
table.keypad-table tr td:first-child {
    border-left: 1px solid #9bb3d5;
}
table.keypad-table tr td:last-child {
    border-right: 1px solid #9bb3d5;
}
td button.keypad-button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}
.popup-close {
    text-align: center;
    margin-top: 17px;
}
button.write-japanese-ok {
    border: none;
    background: #395d99;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    text-shadow: 1px 0 #28416b;
    letter-spacing: -1.5px;
    padding: 2px 19.5px;
}